.App {
  text-align: center;
  background-color: #586F7C;
  
}

/*  */
/* NAV BAR */
/*  */


.nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
 
  /* text-decoration: none; */
}

.post {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.hub {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.profile {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.divider {
  border-bottom: 2px solid black;
  height: 10px;
  width: 80%;
  margin-left: 10%;
}


/*  */
/* SIGN UP */
/*  */

.signupLink {
  display: flex;
  text-decoration: none;
  font-size: small;
  color: red;
  margin: 10px;
}

.signup-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
}

.signupSubmit {
  width: 21%;
  height: 30px;
  border-radius: 10px;
}



/*  */
/* LOGIN */
/*  */


.loginLink {
  display: flex;
  text-decoration: none;
  font-size: small;
  color: red;
  margin: 10px;
}

.loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
}

.loginSubmit {
  width: 21%;
  height: 30px;
  border-radius: 10px;
}

.labelField {
  text-align: center;
}

.inputFeild {
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}



/*  */
/* HOME PAGE */
/*  */

.home_page {
  text-align: center;
}

.report_header {
  /* text-align: center; */
}

.boxes {
  display: flex;
  justify-content: center;
}

.box {
  border: 2px solid black;
  margin: 10px;
  height: 30vh;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  background-color: gray;
  opacity: .920;
}

.box:hover {

}

.box-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-links {
  text-decoration: none;
  color: white;
}

/*  */
/* FOOTER */
/*  */

.footer {
  display: inline;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
