.App {
  text-align: center;
  background-color: #586F7C;
  
}

/*  */
/* NAV BAR */
/*  */


.nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  flex-direction: column-reverse;
  margin-top: auto;
}

.mainNav {
  display: flex;
  justify-content: space-evenly;
}

.signuplogin {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: column; */
}

.post {
  margin: 0 5vw;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.post:hover {
  color: lightslategray;
}

.hub {
  margin: 0 5vw;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.hub:hover {
  color: lightslategray;
}

.profile {
  margin: 0 5vw;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.profile:hover {
  color: lightslategray;
}

.divider {
  border-bottom: 2px solid black;
  height: 10px;
  width: 80%;
  margin-left: 10%;
}




/*  */
/* SIGN UP */
/*  */

.signupLink {
  display: flex;
  text-decoration: none;
  font-size: small;
  color: red;
  margin: 10px;
}

.signupLink:hover {
  color: black;
}

.signup-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
}

.signupSubmit {
  width: 21%;
  height: 30px;
  border-radius: 10px;
}



/*  */
/* LOGIN */
/*  */


.loginLink {
  display: flex;
  text-decoration: none;
  font-size: small;
  color: red;
  margin: 10px;
}

.loginLink:hover {
  color: black;
}

.loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
}

.loginSubmit {
  width: 21%;
  height: 30px;
  border-radius: 10px;
}

.labelField {
  text-align: center;
}

.inputFeild {
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}




/*  */
/* HOME PAGE */
/*  */

.home_page {
  text-align: center;
}

.report_header {
  /* text-align: center; */
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: -webkit-cente           r; */
}

.box {
  border: 2px solid black;
  margin: 10px;
  /* margin-left: 20px; */
  height: 30vh;
  width: 80%;
  text-align: center;
  border-radius: 20px;
  background-color: lightgray;
  opacity: .920;
}

.box:hover {

}

.box-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-links {
  text-decoration: none;
  color: black;
}




/*  */
/* CASE PAGE */
/*  */

.caseDetails {
  display: flex;
  justify-content: space-around;
}

.reportImg {
  /* display: flex; */
  width: 70%;
  height: 50vh;
  margin-top: 30px;
  margin-left: 150px;
}

.reportInfo {
  font-weight: 200;
}

.victim {
  display: flex;
}

/* .officer {
  display: flex;
} */

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .case {
  background: black;
  color: white;

} */

.roleHeader {
  color: red;
  display: flex;
  /* flex-direction: row-reverse; */
  text-align: center;
}




/*  */
/* POST PAGE */
/*  */


.postForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postFeild {
  width: 40%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.postLabel {
  margin-top: 10px;
  font-size: larger;
  font-weight: 300;
}

.postHeader {
  font-size: xx-large;
  color: red;
  font-weight: 300;
}

.postSubmit {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20vw;
  height: 5vh;
  background-color: lightgray;
  font-size: large;
  border-radius: 10px;
  font-weight: 200;
}

/*  */
/* PROFILE */
/*  */

.profileCases{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profileImg {
  margin-top: 30px;
  width: 80%;
  height: 60vh;
  margin-left: 90px;
}

.box {
  display: flex;
  margin-left: 90px;
}

.adminButtons {
  display: flex;
  flex-direction: column;
}

.editBtn {
  background: none;
  font-size: larger;
  border: none;
  color: black;
}

.editBtn:hover {
  color: red;
}

.dltBtn {
  background: none;
  font-size: larger;
  border: none;
  margin-right: 5px;
  color: black;
}

.dltBtn:hover {
  color: red;
}

.profileEdit {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
}

.profileList {
  align-items: center;
}

/*  */
/* FOOTER */
/*  */

.footer {
  display: inline;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 500px){
  *{
    background-color: lightgray;
    color: black;
  }

  /*  */
  /* PROFILE */
  /*  */

  .nav {
    flex-direction: column-reverse;
  }

  .profileImg {
    margin-top: 30px;
    margin-left: 55px;
  }

  .adminButtons {
    background: none;
  }

  .editBtn {
    background: none;
  }

  .dltBtn {
    background: none;
  }

  .box {
    background-color: none;
    margin-left: 30px;
  }

  .profileCases {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    margin-left: 8px;
  }

  .username {
    text-align: center;
    margin-left: 60px;
  }

  .casenum {
    text-align: center;
    margin-left: 50px;
  }

  /* .box-text {
    background-color: lightgreen;
  } */

  .casename {
    background-color: none;
    color: black;
    font-weight: 200;
  }

  .box-links {
    /* width: 30%; */
    align-content: center;
    margin-left: 10px;
  }

  /*  */
  /* HUB */
  /*  */

  .boxes {
    width: 90%;
    margin-left: 5px;
    /* background-color: lightgray; */
  }


}
