.App {
  text-align: center;
}

/*  */
/* NAV BAR */
/*  */


.nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
 
  /* text-decoration: none; */
}

.post {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.hub {
  font-size: xx-large;
  text-decoration: none;
  color: black;
}

.profile {
  font-size: larger;
  text-decoration: none;
  color: black;
}

.divider {
  border-bottom: 2px solid black;
  height: 10px;
  width: 80%;
  margin-left: 10%;
}

/*  */
/* HOME PAGE */
/*  */

.home_page {
  text-align: center;
}

.report_header {
  /* text-align: center; */
}

.boxes {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-flow: column wrap; */
  /* align-content: stretch; */
}

.box {
  border: 2px solid black;
  margin: 10px;
  height: 30vh;
  width: 50vw;
  /* text-align: center; */
}

/*  */
/* FOOTER */
/*  */

.footer {
  display: inline;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
